        body {
            color: #cdcdcd;
            background-color: #131313;
            margin: auto;
            max-width: 800px;
            alignment: center;
            text-align: center;
            overflow-x: hidden;
            margin-bottom: 16px;
        }
        div.transgender {
            background: linear-gradient(180deg, #5BCEFA 20%, #F5A9B8 20%, 40%, #FFFFFF 40%, 60%, #F5A9B8 60%, 80%, #5BCEFA 80%);
            margin: auto;
            margin-top: 20px;
            alignment: center;
        }
